.wfe-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

.wfe-modal-content {
    background: #fff;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    margin: 10% auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    text-align: center;
}

.wfe-modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.wfe-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.wfe-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.wfe-switch .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wfe-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
.wfe-switch input:checked + .slider {
    background-color: #0073aa;
}
.wfe-switch input:checked + .slider:before {
    transform: translateX(20px);
}